{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <ul class="posts">
        {% for post in pagination %}
            <li class="post-panel">
                <p><small>{{ post.createdAt.date }}</small></p>
                <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a>
                <p>{{ post.description }}</p>
            </li>
        {% else %}
            <li>No posts found :(</li>
        {% endfor %}
    </ul>

    <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
